body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding: 0 16px;
  padding-bottom: 10rem;
}

* {
  padding: 0;
  margin: 0;
  outline: 0;
  box-sizing: border-box;
  overflow-x: hidden;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

.subHeader {
  @apply bg-slate-400 px-3 py-2 text-left;
}

h2 {
  @apply text-lg text-black font-medium;
}

h3 {
  @apply text-base text-gray-500 font-medium;
}

.btn {
  @apply w-full px-4 py-2 rounded-md md:w-1/3;
}

.primary {
  @apply bg-gray-500 text-center;
}

.container {
  @apply md:w-[32%] md:border-2 md:rounded  mb-4;
}

.input {
  @apply flex flex-col gap-1 mt-2 mb-4;
}

input,
select {
  @apply border-2 px-3 py-2 rounded;
}
